spring:
  application:
    name: configserver
  cloud:
    config:
      server:
        git:
          uri: https://github.com/neeravbhaskarla/emporgconfigfiles
          clone-on-start: true

server:
  port: 8888
